<!DOCTYPE html>
<html>

<head>
	<!-- Twitter card -->
	<meta name="twitter:card" content="summary" />
	<meta name="twitter:title" content="imgs.ai" />
	<meta name="twitter:description" content="A fast, dataset-agnostic, deep visual search engine for digital art history" />
	<meta name="twitter:image" content="https://imgs.ai/static/social.jpg" />

	<!-- Facebook OG -->
	<meta property="og:title" content="imgs.ai" />
	<meta property="og:site_name" content="imgs.ai" />
	<meta property="og:url" content="https://imgs.ai/" />
	<meta property="og:description" content="A fast, dataset-agnostic, deep visual search engine for digital art history" />
	<meta property="og:image" content="https://imgs.ai/static/social.jpg" />
	<meta property="og:type" content="website" />
	<meta property="og:locale" content="en_US" />

	<link rel="stylesheet" href="{{ url_for('static', filename='node_modules/bootstrap/dist/css/bootstrap.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css.css') }}">

	<script src="{{ url_for('static', filename='node_modules/jquery/dist/jquery.min.js') }}"></script>
	<script src="{{ url_for('static', filename='node_modules/bootstrap/dist/js/bootstrap.bundle.min.js') }}"></script>

	<title>{% block title %}{% endblock %}</title>
</head>

<body>
	{% extends "base.html" %}
	{% include "navbar.html" %}
	{% from "bootstrap/form.html" import render_form, render_field %}
	{% block content %}{% endblock %}
</body>

</html>