{% extends "layout.html" %}
{% block title %}{{title}}{% endblock %}

{% block content %}
<div class="container col-sm-4 mt-5 pt-5">

		<h3>Log into your account</h3>
		
		<hr>

		<form class="needs-validation" name="login" actions="/login" method="post">
			<div class="mb-3">
			  <label for="exampleInputEmail1" class="form-label">Email address</label>
			  <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" required>
			  <div class="invalid-feedback">Please provide a valid email address</div>
			</div>
			<div class="mb-3">
			  <label for="secret" class="form-label">Password</label>
			  <input type="password" class="form-control" id="secret" name="secret" required>
			</div>
			<button type="submit" class="btn btn-primary">Submit</button>
		</form>
		
		<hr>
		<span>Don't have an account? <a href="{{ url_for('auth.signup') }}">Sign up</a></span>

</div>
{% endblock %}