<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<ul class="navbar-nav mr-auto">
		<li class="nav-item"><a class="nav-link" href="/">About</a></li>
		<li class="nav-item"><a class="nav-link" href="{{ url_for('interface') }}">Interface</a></li>
		<li class="nav-item"><a class="nav-link" href="{{ url_for('settings') }}">Settings</a></li>
		<li class="nav-item"><a class="nav-link" href="{{ url_for('help') }}">Help</a></li>
		{% if not current_user.is_anonymous and current_user.id==1%}
		<li class="nav-item"><a class="nav-link" href="{{ url_for('users') }}">User Management</a></li>
		{% endif %}
		{% if current_user.is_anonymous %}
		<li class="nav-item"><a class="nav-link" href="{{ url_for('login') }}">Login</a></li>
		{% else %}
		<li class="nav-item"><a class="nav-link" href="{{ url_for('logout') }}">Logout</a></li>
		<li class="nav-item"><a class="nav-link" href="https://docs.google.com/document/d/1qGMsi2W8YBXowaEs0aeH5EdZk_JRQgqgpE1VRX0pto0/edit?usp=sharing">BETA: Report Bug</a></li>
		{% endif %}
	</ul>
</nav>