{% extends "layout.html" %}
{% block title %}Build your own pipeline{{title}}{% endblock %}

{% block content %}
<div class="container jumbotron">

    <!-- Model selection -->
    <form action="{{ url_for('pipeline') }}" method="POST">

    <select hidden name="embedders" id="embedderSelect"></select>

    <div class="row">
        <ul class="list-group col-6">
            {% for embedder in embedders %}
            <li class="list-group-item list-group-item-action" onclick="$(this).toggleClass('active')" data-toggle="collapse" href="#{{embedder}}_settings" role="button" aria-expanded="false" aria-controls="{{embedder}}_settings">{{embedder}}</li>
            <div class="collapse multi-collapse" id="{{embedder}}_settings">
                <div class="card card-body">
                    <div class="row">
                        <div class="col-5">
                            {% if embedder == 'Raw' %}
                                <div class="slidecontainer">
                                    <label for="#resolution">Resolution</label>
                                    <input type="range" min="32" max="512" value="50" class="slider" id="resolution">
                                </div>
                            {% else %}
                                <div class="slidecontainer">
                                    <label for="#featureLength{{embedder}}">Feature Length</label>
                                    <input type="range" min="32" max="512" value="50" class="slider" id="featureLength{{embedder}}">
                                </div>
                            {% endif %}
                            {% if embedder in ('Face', 'Poses') %}
                                <div class="slidecontainer">
                                    <label for="#expectedPeople{{embedder}}">Expected no. of people</label>
                                    <input type="range" min="1" max="10" value="50" class="slider" id="expectedPeople{{embedder}}">
                                </div>
                            {% endif %}
                            {% if embedder == 'Poses' %}
                                <div class="slidecontainer">
                                    <label for="#minScore">Min. confidence score</label>
                                    <input type="range" min="0" max="1" value=".5" class="slider" id="minScore">
                                </div>
                            {% endif %}
                        </div>
                        <div class="col-7">
                            <!-- Dimensionality Reduction -->
                            {% for reducer in reducers %}
                            <li class="list-group-item list-group-item-action" onclick="$(this).toggleClass('active')" data-toggle="collapse" href="#{{embedder}}{{reducer}}_settings" role="button" aria-expanded="false" aria-controls="{{embedder}}_settings">{{reducer}}</li>
                            <div class="collapse multi-collapse" id="{{embedder}}{{reducer}}_settings">
                                <div class="card card-body">
                                    <div class="slidecontainer">
                                        <label for="#{{embedder}}{{reducer}}_dim">Dimensionality</label>
                                        <input type="range" min="50" max="1000" value="100" class="slider" id="{{embedder}}{{reducer}}_dim">
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </ul>
        <div class="col-6">
            <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">img url per line</span>
                </div>
                <textarea class="form-control" aria-label="imgurlperline"></textarea>
            </div>
            <hr>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">Upload</span>
                </div>
                <div class="custom-file">
                  <input type="file" class="custom-file-input" id="inputGroupFile01">
                  <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                </div>
              </div>
        </div>
    </div>
    <br>
    <div class="text-center"><button class="btn btn-primary" type="submit">Embed</button></div>
    </form>
</div>

<script src="{{ url_for('static', filename='pipeline.js') }}"></script>
{% endblock %}