{% extends "layout.html" %}
{% block title %}{{title}}{% endblock %}

{% block content %}
<div class="container col-sm-4 mt-5 pt-5">

		<h3>Create an account</h3>
		
		<hr>

		<form class="needs-validation" name="signup" actions="/signup" method="post">
			<div class="mb-3">
				<label for="name">User name</label>
				<input type="text" class="form-control" id="name" name="name" required>
			</div>
			<div class="mb-3">
			  <label for="email" class="form-label">Email address</label>
			  <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" required>
			  <div class="invalid-feedback">Please provide a valid email address</div>
			</div>
			<div class="mb-3">
			  <label for="secret" class="form-label">Password</label>
			  <input type="password" class="form-control" id="secret" name="secret" required>
			</div>
			<input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
			<button type="submit" class="btn btn-primary">Submit</button>
		</form>
		
		<hr>
		<span>Already have an account? <a href="{{ url_for('auth.login') }}">Log in</a></span>

</div>
{% endblock %}